.bimg{
  background-image: url('./b2.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

.app{
  font-family: "Graphik Web Regular";
}
/* 
 <div className="  ">

 
 </div>

*/

.border-blue{
  border-color:  #4C52E2;;
}

.border-purple{
  border-color:   #081946;
}
.bg-blue-lenear{
  background: linear-gradient(122.74deg, #1A21BC -28.54%, #166E98 127.06%);
}

.bg-purple-leanier2{
  background: linear-gradient(95.57deg, #1A21BC -37.71%, #166E98 137.71%);
}

.bg-purple{
  background: rgba(26, 33, 188, 0.1);
}
.text-purple{
  color: #1A21BC;
}
.text-d-blue{
  color: #081946;
}
.text-gray{
  color: #3D424F;
}

.dot{
  position: absolute;
width: 18.51px;
height: 18.51px;


background: #FF782D;
transform: rotate(44.42deg);
}

.top-50{
  top: 60%;
}

.dot-yellow{
  position: absolute;
width: 26px;
height: 26px;

background: #FFC700;
}
